{% extends "base.html" %}

{% block content %}
    <div class="ui raised segments">
        <h3 class="ui top attached header">Last {{ last_games | length }} played games</h3>
        <div class="ui blue segment">
            <div class="ui grid">
                <div class="ui twelve wide column">
                    <div class="ui input fluid focus">
                        <input type="text" placeholder="Search game by UUID">
                    </div>
                </div>
                <div class="ui four wide column">
                    <div class="ui blue fluid button">Search</div>
                </div>
            </div>
        </div>
        <div class="ui blue segment">
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>Created at</th>
                    <th>Player 1</th>
                    <th>Player 2</th>
                    <th>Winner</th>
                    <th>Game logs</th>
                </tr>
                </thead>
                <tbody>
                {% for game in last_games %}
                    <tr>
                        <td data-label="created_at">{{ game.created_at }}</td>
                        <td data-label="player_1">{{ game.player1.name }}</td>
                        <td data-label="player_2">{{ game.player2.name }}</td>
                        <td data-label="winner_id">{{ game.winner.name }}</td>
                        <td data-label="id"><a href="/game/{{ game.id }}/" rel="noopener">Open logs</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}