{% extends "base.html" %}

{% load mathfilters %}

{% block content %}

    <div class="ui container">
        <h3 class="ui header">Game results</span></h3>

        {% if not is_game_found %}

            <div class="ui placeholder segment">
                <div class="ui icon header">
                    <i class="exclamation triangle icon"></i>
                    <div class="content">
                        There is no game with provided UUID
                        <div class="sub header">Please double check that you have entered game UUID correctly</div>
                    </div>

                </div>
                <div class="inline">
                    <a class="ui button" href="/game" rel="noopener">Go back</a>
                </div>
            </div>

        {% else %}
        <table class="ui fixed single line compact celled table">
            <thead>
            <tr>
                <th>Created at</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Winner</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ game.created_at }}</td>
                <td>{{ game.player1.name }}</td>
                <td>{{ game.player2.name }}</td>
                <td>{{ game.winner.name }}</td>
            </tr>
            </tbody>
        </table>
        
        
            {% for round in rounds %}
            <div class="ui feed" style="margin-top: 20px">
            <div class="ui horizontal divider">
                Round {{ round.index }}
              </div>
            <div class="event">
                <div class="content">
                    <div class="extra text">
                        <div class="user">{{ round.first.name }}</div> gets <b>{{ round.cards.0 }}</b> card and 
                        <div class="user">{{ round.second.name }}</div> gets <b>{{ round.cards.1 }}</b> card.
                    </div>
                </div>
            </div>
            <div class="ui steps">
                {% for action, player in round.actions %}
                <div class="step">
                    <div class="title">{{ action }}</div>
                    <div class="description">from {{ player.name }}.</div>
                </div>
                {% endfor %}
              </div>
            <div class="event">
                <div class="content">
                    <div class="extra text">
                        <div class="user">{{ round.first.name }}</div> 
                        {% if round.evaluation > 0 %} wins {% else %} loses {% endif %} {{ round.evaluation|abs }} point(s)
                        and <div class="user">{{ round.second.name }}</div> 
                        {% if round.evaluation < 0 %} wins {% else %} loses {% endif %} {{ round.evaluation|abs }} point(s).
                    </div>
                </div>
            </div>
            </div>    
            {% endfor %}
        
        {% endif %}
    </div>

{% endblock content %}