{% extends "base.html" %}

{% block content %}
    <div id="games">
        <div class="ui large header">Last {{ games|length }} played games</div>
        <table class="ui celled compact table">
            <thead>
            <tr>
                <th>Created at</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Winner</th>
                <th>Game logs</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr>
                    <td data-label="created_at">{{ game.created_at }}</td>
                    <td data-label="player_1">{{ game.player1.name }}</td>
                    <td data-label="player_2">{{ game.player2.name }}</td>
                    <td data-label="winner_id">{{ game.winner.name|default_if_none:"--" }}</td>
                    <td data-label="id"><a href="/game/{{ game.id }}" rel="noopener">Open logs</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock content %}