{% extends "base.html" %}

{% load static %}
{% load mathfilters %}

{% block content %}

    <div class="ui container">
        <h3 class="ui header">Game results {% if is_game_found %} :
            <span style="font-weight: normal">{{ game.id }}</span> {% endif %} </h3>

        {% if is_game_id_provided is False %}

            <div class="ui raised attached segment padded">
                <div class="ui input fluid focus">
                    <input type="text" placeholder="Enter game UUID">
                </div>
            </div>
            <div class="ui raised attached secondary segment">
                <div class="ui button">Search</div>
            </div>

        {% elif not is_game_found %}

            <div class="ui placeholder segment">
                <div class="ui icon header">
                    <i class="exclamation triangle icon"></i>
                    <div class="content">
                        There is no game with provided UUID
                        <div class="sub header">Please double check that you have entered game UUID correctly</div>
                    </div>

                </div>
                <div class="inline">
                    <a class="ui button" href="/game" rel="noopener">Go back</a>
                </div>
            </div>

        {% else %}
        <table class="ui fixed single line compact celled table">
            <thead>
            <tr>
                <th>Created at</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Winner</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ game.created_at }}</td>
                <td>{{ game.player1.name }}</td>
                <td>{{ game.player2.name }}</td>
                <td>{{ game.winner.name }}</td>
            </tr>
            </tbody>
        </table>
        
        <div class="ui feed" style="margin-top: 20px">
            {% for round in rounds %}
            <div class="event">
                <div class="content">
                    <div class="date">
                        Round {{ round.index }}
                    </div>
                    <div class="summary">
                        <a class="user">{{ round.first.name }}</a> gets {{ round.cards.0 }} card and 
                        <a class="user">{{ round.second.name }}</a> gets {{ round.cards.1 }} card.
                    </div>
                </div>
            </div>
            {% for action, player in round.actions %}
                <div class="event">
                    <div class="content">
                        <div class="summary">
                            {{ player.name }} decided to {{ action }}.
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <a class="user">{{ round.first.name }}</a> 
                        {% if round.evaluation > 0 %} wins {% else %} loses {% endif %} {{ round.evaluation|abs }} point(s)
                        and <a class="user">{{ round.second.name }}</a> 
                        {% if round.evaluation < 0 %} wins {% else %} loses {% endif %} {{ round.evaluation|abs }} point(s).
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

{% endblock content %}