{% extends "base.html" %}

{% block content %}
    <div id="home">        
        <div class="ui large header">Welcome to the Kuhn Poker server</div>
        <p>
            In order to play a game you need to have a poker game client. 
            Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.
            Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.
            Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.
        </p>
        <div class="ui raised segment">
            python main.py --token "token UUID here>"
        </div>
        <p>
            Once a second player is connected, the game will start automatically.
        </p>
    </div>
{% endblock content %}