{% extends "base.html" %}

{% block content %}
    <h3 class="ui header">Leaderboard</h3>
    <table class="ui compact fixed line table">
        <thead>
        <tr>
            <th>Player</th>
            <th>Games Won</th>
            <th>Games Lost</th>
            <th>Games Total</th>
            <th>Tournaments Participated</th>
            <th>Tournaments Won</th>
        </tr>
        </thead>
        <tbody>
        {% for player in leaderboard %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.games_won }}</td>
                <td>{{ player.games_lost }}</td>
                <td>{{ player.games_total }}</td>
                <td>{{ player.tournaments_participated }}</td>
                <td>{{ player.tournaments_won }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock content %}