{% extends "base.html" %}

{% block content %}
    <div id="tournaments">

        <div class="ui container">
            <form class="ui form error" action="/tournament/" method="post">
                {% csrf_token %}
                <div class="field">
                    <input id="id_tournament_or_coordinator_id" type="text" name="tournament_or_coordinator_id" placeholder="Enter tournament or coordinator UUID" value="{{ form.tournament_or_coordinator.value }}">
                </div>
                {% if form.tournament_or_coordinator_id.errors %}
                    {% for error in form.tournament_or_coordinator_id.errors %}
                        <div class="ui error message">
                            <div class="header">UUID</div>
                            <p>{{ error|escape}}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                <button class="ui blue button right labeled icon" type="submit"><i class="search icon"></i>Search</button>
            </form>

        <div class="ui large header">Last {{ tournaments|length }} played tournaments</div>
        <table class="ui celled compact table">
            <thead>
            <tr>
                <th>Created at</th>
                <th># of participants</th>
                <th>Winner</th>
                <th>Tournament logs</th>
            </tr>
            </thead>
            <tbody>
            {% for tournament in tournaments %}
                <tr>
                    <td data-label="created_at">{{ tournament.created_at }}</td>
                    <td data-label="capacity">{{ tournament.capacity }}</td>
                    <td data-label="place1">{{ tournament.place1.name|default_if_none:"--" }}</td>
                    <td data-label="id"><a href="/tournament/{{ tournament.id }}" rel="noopener">Open logs</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock content %}