{% extends "base.html" %}
{% load length_to_word %}
{% block content %}
    <div id="tournament">        
        <div class="ui large header">Tournament results</div>
        {% if not tournament_found %}

            <div class="ui placeholder segment">
                <div class="ui icon header">
                    <i class="exclamation triangle icon"></i>
                    <div class="content">
                        There is no tournament with the provided UUID
                        <div class="sub header">Please double check that you have entered tournament UUID correctly</div>
                    </div>

                </div>
                <div class="inline">
                    <a class="ui button" href="/tournament" rel="noopener">Go back</a>
                </div>
            </div>

        {% else %}
            <div class="ui center aligned grid">
            {% for round in rounds %}
                <div class="ui one column row">
                    <div class="ui column">
                    <div class="ui horizontal divider">
                        Round {{ round.round.index }}
                    </div>
                    </div>
                </div>
                <div class="{% length_to_word round.brackets %} column stretched row">
                {% for bracket in round.brackets %}
                    <div class="ui center aligned column" style="margin-top: 20px">
                        <div class="ui raised segments" style="margin-left: {% length_to_margin round.brackets %}; margin-right: {% length_to_margin round.brackets %}">
                        <h5 class="ui top attached left aligned clearing header segment">
                            <div class="content">
                                Game {{ bracket.bracket_item.position }} of Round {{ round.round.index }}
                                {% if bracket.game != None %}
                                    <div class="sub header">
                                        <a href="/game/{{ bracket.game.game.id }}" rel="noopener">Game logs</a>
                                    </div>
                                {% else %}
                                    <div class="sub header">
                                        <a>TBA</a>
                                    </div>
                                {% endif %}
                              </div>
                        </h5>
                        {% if bracket.game != None %}
                            <div class="ui attached {% if bracket.game.game.winner == bracket.game.game.player1 %} success {% else %} error {% endif %} message">
                                {% comment %} <i class="chess queen icon"></i> {% endcomment %}
                                {{ bracket.game.game.player1.name }}
                            </div>
                            <div class="ui bottom attached {% if bracket.game.game.winner == bracket.game.game.player2 %} success {% else %} error {% endif %} message">
                                {% comment %} <i class="chess queen icon"></i> {% endcomment %}
                                {{ bracket.game.game.player2.name }}
                            </div>
                            {% comment %} <a href="/game/{{ bracket.game.game.id }}">Logs</a> {% endcomment %}
                        {% else %}
                            <div class="ui attached message">
                                {% comment %} <i class="chess queen icon"></i> {% endcomment %}
                                TBA
                            </div>
                            <div class="ui attached message">
                                {% comment %} <i class="chess queen icon"></i> {% endcomment %}
                                TBA
                            </div>
                        {% endif %}
                    </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
            </div>

        {% endif %}
    </div>
{% endblock content %}