{% with request.resolver_match.url_name as url_name %}
    <div class="ui four item menu">
        <a class="item {% if url_name == 'home' %} active {% endif %}" href="{% url 'home' %}">Home</a>
        <a class="item {% if url_name == 'games' %} active {% endif %}" href="{% url 'games' %}">Games</a>
        <a class="item {% if url_name == 'leaderboard' %} active {% endif %}"
           href="{% url 'leaderboard' %}">Leaderboard</a>
        <a class="item {% if url_name == 'about' %} active {% endif %}" href="{% url 'about' %}">About</a>
    </div>
{% endwith %}