{% with request.resolver_match.url_name as url_name %}
    <div class="ui attached stackable menu">
        <div class="ui container">
          <a class="item {% if url_name == 'home' %} active {% endif %}" href="{% url 'home' %}">
            <i class="home icon"></i> Home
          </a>
          <a class="item {% if url_name == 'games' or url_name == 'game' %} active {% endif %}" href="{% url 'games' %}">
            <i class="grid layout icon"></i> Browse games
          </a>
          <a class="item  {% if url_name == 'leaderboard' %} active {% endif %}" href="{% url 'leaderboard' %}">
            <i class="chess queen icon"></i> Leaderboard
          </a>
        </div>
      </div>
{% endwith %}